/* css */

/* all fonts

  font-family: Oswald;
  font-family: Ubuntu;
  font-family: "Fredoka One";
  font-family: "Anek Odia";



*/

:root {
  --main-bg-color: linear-gradient(162deg, rgba(51,50,56,1) 0%, rgba(82,82,101,1) 57%, rgba(6,6,6,1) 100%);
  --header-bg-color: transparent;
  --hyperlink-color: rgb(127 169 214);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  /* background-image: url(../img/background.jpg); */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--hyperlink-color);
}

a:hover {
  color: #6ba9d6;
  text-decoration: underline;
  text-shadow: 0px 0px 1px white;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #49364f #110916;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #110916;
}

*::-webkit-scrollbar-thumb {
  background-color: #49364f;
  border-radius: 10px;
  border: 3px solid #110916;
}

.tiny_header {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.th_item {
  color: white;
  font-family: Oswald;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: pointer;
  background-image: linear-gradient(#49474e, #595d60);
  background-size: 0 1px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
  padding-bottom: 2px;
}

.th_item:hover {
  background-size: 100% 3px, auto;
}

.th_icon {
  font-size: 46px;
}

.dataTables_filter {
  border: none;
  padding-left: 15px;
  background: rgb(65 60 83);
  color: #78738b !important;
  font-family: Oswald;
  font-size: 21px;
  height: 60px;
  opacity: 0;
}

.filter_text, .filter_text_alt {
  display: inline;
  position: relative;
  top: 3px;
}

.dataTables_filter label {
  height: 60px;
  position: relative;
  top: 0px;
  background: rgb(32 29 40);
  border: 4px solid;
  border-radius: 9px;
  padding-left: 17px;
  padding-right: 16px;
  margin-left: 19px;
  margin-right: 9px;
}

.dataTables_filter input {
  height: 47px !important;
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
  background: rgb(40 38 46) !important;
  position: relative;
  top: 3px;
  right: -14px;
  color: white;
  padding-left: 10px !important;
  font-family: Ubuntu;
  font-weight: 900;
  width: 271px !important;
}

.dataTables_filter input:focus {
  outline: none !important;
  border-color: 3px solid black;
}

.legion_body {
  overflow-x: hidden;
  overflow-y: auto;
}

li {
  padding-bottom: 8px;
}

.insight_three_notes {
    font-family: 'Anek Odia';
}

.insight_body {
  height: calc(100vh - 384px);
  width: 90vw;
  margin: 0 auto;
  padding: 25px;
  overflow-y: auto;
}

.lb_home {
  color: white;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  font-size: 26px;
}

.lb_home span {
  color: rgb(189 189 221);
  font-weight: 900;
}

.lb_title {
  font-family: "Fredoka One";
  font-size: 50px;
  color: #debebe;
  text-shadow: 0px 0px 41px white;
  letter-spacing: 4px;
  margin-top: 25px;
}

.lb_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
}

.lb_text {
  font-family: "Anek Odia";
  background: rgb(157 157 198 / 35%);
  border-radius: 9px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
}

.header {
  background: var(--header-bg-color);
  height: 320px;
}

.top_header {
  color: white;
  font-family: 'Ubuntu';
  display: flex;
  justify-content: space-between;
  background: rgb(6 25 41);
  max-height: 200px;
}

.left_header {
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  justify-content: center;
  align-items: flex-start;
}

.left_header_title {
  font-size: 32px;
  padding-left: 30px;
  text-shadow: 0px 0px 10px red;
}

.left_header_subtitle {
  font-size: 25px;
  padding-left: 36px;
  color: rgb(185 185 185);
  font-family: 'Anek Odia';
  position: relative;
  top: -104px;
}

.left_header_item {
  font-size: 18px;
}

.left_header_item a {
  cursor: pointer;
  color: var(--hyperlink-color);
  font-weight: 900;
  padding-right: 30px;
}

.home_left {
  position: relative;
  left: 0;
}

.home_right {
  position: relative;
  right: 0;
}

.left_open {
  animation: slide_left 2s cubic-bezier(0.4, -0.16, 0.68, 1.04) forwards;
}

.right_open {
  animation: slide_right 2s cubic-bezier(0.4, -0.16, 0.68, 1.04) forwards
}

@keyframes slide_left {
  0% { left: 0px; }
  100% { left: -55px; }
}

@keyframes slide_right {
  0% { right: 0px; }
  100% { right: -73px; }
}

.th_left_open {
  animation: th_slide_left 2s cubic-bezier(0.4, -0.16, 0.68, 1.04) forwards;
}

.th_right_open {
  animation: th_slide_right 2s cubic-bezier(0.4, -0.16, 0.68, 1.04) forwards
}

@keyframes th_slide_left {
  0% { left: 0px; }
  100% { left: -138px; }
}

@keyframes th_slide_right {
  0% { right: 0px; }
  100% { right: -138px; }
}

.shrink_header {
  animation: shrink_header .5s forwards;
}

.grow_header {
  animation: grow_header .5s forwards;
}

@keyframes shrink_header {
  0% { height: 279px; opacity: 1; }
  100% { height: 0px; opacity: 0;}
}

@keyframes grow_header {
  0% { height: 0px; opacity: 0; }
  100% { height: 279px; opacity: 1;}
}

.shrink_tiny_header {
  animation: shrink_tiny_header .5s forwards;
}

.grow_tiny_header {
  animation: grow_tiny_header .5s forwards;
}

@keyframes shrink_tiny_header {
  0% { height: 80px; opacity: 1; }
  100% { height: 0px; opacity: 0;}
}

@keyframes grow_tiny_header {
  0% { height: 0px; opacity: 0; }
  100% { height: 80px; opacity: 1;}
}

@keyframes rotate {
  0% {
    transform: rotate(-45deg)
  }
  50% {
    transform: rotate(45deg)
  }
  100% {
    transform: rotate(-45deg);
  }
}

.rotate {
  animation: rotate 2s infinite;
}

.right_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anek Odia";
  color: rgb(168 203 231);
  margin-right: 150px;
}

.right_header_item {
  font-size: 17px;
  padding-left: 11px;
  padding-right: 11px;
  transition: color 300ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insight_three_notes {
  overflow-y: auto;
}


.login_holder:hover {
  transition: all 400ms;
  filter: brightness(160%);
}

.login_holder img {
  max-height: 100%;
  max-width: 100%;
}

.overflow_hidden {
  overflow: hidden;
}

.subheader {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
}

.header_image {
  height: 64px;
  width: 64px;
  transition: all 300ms;
  border: 0px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hi_hover {
  transition: all 300ms;
  border: 3px solid rgb(222 112 112);
}

.header_image img {
  min-height: 100%;
  min-width: 100%;
}

.header_subtitle {
  transition: all 300ms;
  color: rgb(255 128 0);
  text-shadow: 1px 1px 1px black;
  font-weight: 900;
}

.ht_hover {
  transition: all 300ms;
  color: white;
  text-shadow: 0px 0px 3px white
}

.insight_footer {
  position: fixed;
  bottom: 0;
  height: 64px;
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #a29c9c;
  font-family: 'Oswald';
  align-items: center;
  font-size: 12px;
}

.insight_quote {
  max-width: 350px;
  background: black;
  border-radius: 9px;
  padding: 25px 50px 25px 50px;
}

.footer_item {
  cursor: pointer;
}

.hideme {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.insight--deselected {
  filter: grayscale(100%);
  transition: all 1s;
  opacity: 0.5;
}